<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cScenario</title>

    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    
  </head>



  <body>

    <div class="container">
      <div id="instruction" class="flex-center flex-column" name="<%=question_id%>">
        <div class="form-group">
          <hr>
          <h3 class="font-weight-light text-justify" id="scenario"><%= scenario %></h3>
          <hr />
          <% if (letter) { %>
          <p class="text-justify text-lg" id="letter">
            <%=letter %>
          </p>
          <% } %>
          <p>Question ID: <%= question_id %> ****REMOVE THIS LATER</p>
          <% if (cQuestion1) { %> 
          <hr>
          <form class="checkbox-form">
          <h5 class="text-justify" name="cQuestion1">
          1. <%= cQuestion1%>
          </h5>
          <!-- <input class="form-check-input" type="radio" value="1" name="cQuestion<%= question_id %>">
          <label class="form-check-label" for="cQuestion<%= question_id%>">
          </label> -->
        
          <% if(question_id == 1 || question_id == 6) { %> 
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input cQuestionX" type="radio" value="1" name="cQuestion1">
            <label class="form-check-label">
              <%= alternative1 %> 
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input cQuestionX" type="radio" value="2" name="cQuestion1">
            <label class="form-check-label">
              <%= alternative2 %> 
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input cQuestionX" type="radio" value="3" name="cQuestion1">
            <label class="form-check-label">
              <%= alternative3 %> 
            </label>
          </div>
          <% } else { %> 
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input cQuestionX" type="radio" value="1" name="cQuestion1">
            <label class="form-check-label">
              Yes
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input cQuestionX" type="radio" value="2" name="cQuestion1">
            <label class="form-check-label">
              No
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input cQuestionX" type="radio" value="3" name="cQuestion1">
            <label class="form-check-label">
              Unsure
            </div>
          <% } %> 
        </form>
        <form class="checkbox-form">
            <hr>
            <h5 class="text-justify" name="cQuestion2">
            2. <%= cQuestion2%>
          </h5>
            <div class="form-check font-weight-light text-justify">
              <input class="form-check-input" type="radio" value="1" name="cQuestion2">
              <label class="form-check-label" name="cQuestion<%= question_id %>">
                Yes 
              </label>
            </div>
            <div class="form-check font-weight-light text-justify">
              <input class="form-check-input" type="radio" value="2" name="cQuestion2">
              <label class="form-check-label" name="cQuestion<%= question_id %>">
                No
              </label>
            </div>
            <div class="form-check font-weight-light text-justify">
              <input class="form-check-input" type="radio" value="3" name="cQuestion2">
              <label class="form-check-label" name="cQuestion<%= question_id %>">
                Unsure
              </div>
          </form>
          <% if(cQuestion3) { %>
            <form class="checkbox-form">
              <hr>
              <h5 class="text-justify" name="cQuestion3">
             3. <%= cQuestion3%>
               </h5>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="1" name="cQuestion3">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              Yes
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="2" name="cQuestion3">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              No
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="3" name="cQuestion3">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              Unsure
            </div>
            </form>
          <% } %>  
          
          <% if(cQuestion4) { %> 
            <form class="checkbox-form"></form>
            <hr>
            <h5 class="text-justify" name="cQuestion<%= question_id%>">
              4. <%= cQuestion4%>
              </h5>
              <div class="form-check font-weight-light text-justify">
                <input class="form-check-input" type="radio" value="1" name="cQuestion4">
                <label class="form-check-label" name="cQuestion<%= question_id %>">
                  Yes
                </label>
              </div>
              <div class="form-check font-weight-light text-justify">
                <input class="form-check-input" type="radio" value="2" name="cQuestion4">
                <label class="form-check-label" name="cQuestion<%= question_id %>">
                  No
                </label>
              </div>
              <div class="form-check font-weight-light text-justify">
                <input class="form-check-input" type="radio" value="3" name="cQuestion4">
                <label class="form-check-label" name="cQuestion<%= question_id %>">
                  Unsure
                </div>
              </form>
          <% } %>   
        <% }%> 

          <hr>
          <hr>
          <h4 class="text-justify" id="question" name="question_id" value="<%= question_id %> "> 
            <%= question %>
          </h4>

          <br />
          <% if(choice1) { %> 
            <button type="submit" class="btn choice-container"  id="answer<%=question_id%>" name="answer<%=question_id%>" value="1">
              <p class="choice-prefix">A</p>
              <p
                class="choice-text font-weight-light text-justify"
                data-number="1"
                name="answer<%=question_id%>"
                value="1"
              >
                <%= choice1 %>
              </p>
              <p class="text-justify" id="question" name="question_id" value="<%=question_id%> "></p>
            </button>
            <button type="submit" class="btn choice-container" name="answer<%=question_id%>" value="2">
              <p class="choice-prefix">B</p>
              <p
                class="choice-text font-weight-light text-justify"
                data-number="2"
              >
                <%= choice2 %>
              </p>
            </button>
            <button type="submit" class="btn choice-container" name="answer<%=question_id%>" value="3">
              <p class="choice-prefix">C</p>
              <p
                class="choice-text font-weight-light text-justify"
                data-number="3"
              >
                <%= choice3 %>
              </p>
            </button>
          
            <% if (choice4) { %> 
              <button type="submit" class="btn choice-container" name="answer<%=question_id%>" value="4">
                <p class="choice-prefix">C</p>
                <p
                  class="choice-text font-weight-light text-justify"
                  data-number="4"
                >
                  <%= choice4 %>
                </p>
              </button>
            <% } %> 
          <% } else { %>   
            <form>
              <input
                type="text"
                name="answer<%=question_id%>"
                id="comment"
                placeholder="Please elaborate your answer... "
              />
              <br>
              <button
                class="btn"
                id="final_submit"
                type="submit"
                action="/gamebook/scenario/<%= participant_id%> "
                method="POST"
              >SUBMIT</button>
            </form>
          <% } %> 
          <form class="checkbox-form"></form>
            <hr>
            <h4 class="text-justify" name="decisionQuestion">
              <%= decisionQuestion%>
              </h4>
              <input type="text" name="decisionQuestion" id="decisionComment" placeholder="e.g. 1">
          </form>
    </div>
  </div>
</div>
  
  </body>
</html>
