<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cScenario</title>

    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <style>
    @font-face {
    font-family: "Ink Free";
    src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
    src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free")
        format("svg");
  }

  #letter {
    font-size: 25px;
    font-family: "Ink Free";
  }

  .form-check-input {
    position: relative;
  }

  .form-check-label {
    font-size: larger;
  }
  </style>

  <body>

    <div class="container">
      <div id="instruction" class="flex-center flex-column">
        <div class="form-group">
          <h3 class="font-weight-light text-justify" id="scenario"><%= scenario %></h3>
          <hr />
          <% if (letter) { %>
          <p class="text-justify text-lg" id="letter">
            <%=letter %>
          </p>
          <% } %>
          <p>Question ID: <%= question_id %> ****REMOVE THIS LATER</p>
          <% if (cQuestion1) { %> 
          <br />
          <hr>
          <form>
          <h5 class="text-justify" name="cQuestion<%=question_id%>">
          1. <%= cQuestion1%>
          </h5>
          <!-- <input class="form-check-input" type="radio" value="1" name="cQuestion<%= question_id %>">
          <label class="form-check-label" for="cQuestion<%= question_id%>">
          </label> -->
        
          <% if(question_id == 1 || question_id == 6) { %> 
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="1" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              <%= alternative1 %> 
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="2" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              <%= alternative2 %> 
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="3" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              <%= alternative3 %> 
            </label>
          </div>
          <% } else { %> 
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="1" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              Yes
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="2" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              No
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="3" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              Unsure
            </div>
          <% } %> 
        </form>
        <form>
            <hr>
            <h5 class="text-justify" name="cQuestion<%= question_id%>">
            2. <%= cQuestion2%>
          </h5>
            <div class="form-check font-weight-light text-justify">
              <input class="form-check-input" type="radio" value="1" name="cQuestion<%= question_id %>">
              <label class="form-check-label" name="cQuestion<%= question_id %>">
                Yes 
              </label>
            </div>
            <div class="form-check font-weight-light text-justify">
              <input class="form-check-input" type="radio" value="2" name="cQuestion<%= question_id %>">
              <label class="form-check-label" name="cQuestion<%= question_id %>">
                No
              </label>
            </div>
            <div class="form-check font-weight-light text-justify">
              <input class="form-check-input" type="radio" value="3" name="cQuestion<%= question_id %>">
              <label class="form-check-label" name="cQuestion<%= question_id %>">
                Unsure
              </div>
          </form>
          <form>
          <% if(cQuestion3) { %>
              <hr>
              <h5 class="text-justify" name="cQuestion<%= question_id%>">
             3. <%= cQuestion3%>
               </h5>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="1" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              Yes
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="2" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              No
            </label>
          </div>
          <div class="form-check font-weight-light text-justify">
            <input class="form-check-input" type="radio" value="3" name="cQuestion<%= question_id %>">
            <label class="form-check-label" name="cQuestion<%= question_id %>">
              Unsure
            </div>
          <% } %>  
          </form>
          <form>
          <% if(cQuestion4) { %> 
            <hr>
            <h5 class="text-justify" name="cQuestion<%= question_id%>">
              4. <%= cQuestion4%>
              </h5>
              <div class="form-check font-weight-light text-justify">
                <input class="form-check-input" type="radio" value="1" name="cQuestion<%= question_id %>">
                <label class="form-check-label" name="cQuestion<%= question_id %>">
                  Yes
                </label>
              </div>
              <div class="form-check font-weight-light text-justify">
                <input class="form-check-input" type="radio" value="2" name="cQuestion<%= question_id %>">
                <label class="form-check-label" name="cQuestion<%= question_id %>">
                  No
                </label>
              </div>
              <div class="form-check font-weight-light text-justify">
                <input class="form-check-input" type="radio" value="3" name="cQuestion<%= question_id %>">
                <label class="form-check-label" name="cQuestion<%= question_id %>">
                  Unsure
                </div>
          <% } %> 
        </form>
        <% }%> 

          <br />
          <h3 class="text-justify" id="question" name="question_id" value="<%= question_id %> "> 
            <%= question %>
          </h3>
        </div>
      </div>
    </div>
  
  
    </script>
  </body>
</html>
