<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View for Scenario Questions</title>

    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>


<body>

<div class="container">
  <div id="home" class="flex-center flex-column">
  <% if( question_id < 2) { %> 
  <form
    class="add-answers-form"
    id="input"
    action="/gamebook/scenario"
    method="POST"
  >
    <% } else { %> 
      <form
      class="add-answers-form"
      id="input"
      action= "/gamebook/scenario/<%= participant_id%> "
      method="POST"
    >
    <% } %> 
    <br>
  
  <div class="container">
  <% if (question) { %>
    <hr />
    <h4 class="font-weight-light text-justify" id="scenario"><%= scenario %></h4>
    <hr />
    <% if (letter) { %>
    <p class="text-justify" id="letter">
      <%=letter %>
    </p>
    <% } %>
    <% if(question_id == 7 || question_id == 8) { %> 
      <h4 class="text-center" id="question" name="question_id" value="<%= question_id %> "> 
      <%= question %>
    </h4>
    <% } else { %> 
    <h4 class="text-justify" id="question" name="question_id" value="<%= question_id %> "> 
      <%= question %>
    </h4>
  <% } %> 
    <br />
    <% if (choice1) { %>
    <button type="submit" class="btn choice-container"  id="answer<%=question_id%>" name="answer<%=question_id%>" value="1">
      <p class="choice-prefix">A</p>
      <p
        class="choice-text font-weight-light text-justify"
        data-number="1"
        name="answer<%=question_id%>"
        value="1"
      >
        <%= choice1 %>
      </p>
      <p class="text-justify" id="question" name="question_id" value="<%=question_id%> "></p>
    </button>
    <button type="submit" class="btn choice-container" name="answer<%=question_id%>" value="2">
      <p class="choice-prefix">B</p>
      <p
        class="choice-text font-weight-light text-justify"
        data-number="2"
      >
        <%= choice2 %>
      </p>
    </button>
    <button type="submit" class="btn choice-container" name="answer<%=question_id%>" value="3">
      <p class="choice-prefix">C</p>
      <p
        class="choice-text font-weight-light text-justify"
        data-number="3"
      >
        <%= choice3 %>
      </p>
    </button>
    <% if(choice4) { %>
    <button type="submit" class="btn choice-container" name="answer<%=question_id%>" value="4">
      <p class="choice-prefix">C</p>
      <p
        class="choice-text font-weight-light text-justify"
        data-number="4"
      >
        <%= choice4 %>
      </p>
    </button>
    <% } %> <% } else {%>
    <form>
      <input
        type="text"
        name="answer<%=question_id%>"
        id="comment"
        placeholder="Please elaborate your answer... "
      />
      <br>
      <button
        class="btn"
        id="final_submit"
        type="submit"
        action="/gamebook/scenario/<%= participant_id%> "
        method="POST"
      >SUBMIT</button>
    </form>
    <% } %>
  <% } %>
  </div>
  </form>
</div>
</div>
<script>
    const choices = Array.from(document.getElementsByClassName("choice-text"));
    let selectedAnswer

    choices.forEach((choice) =>  {
        choice.addEventListener("click", (e) => {
            let selectedChoice = e.target
            selectedAnswer = selectedChoice.dataset["number"];
            console.log(selectedAnswer)
        }) 
    })



</script>
</body>
</html>
